 <footer class="mdl-mini-footer foot">
    <div class="mdl-mini-footer__leftsection">
      <div class="mdl-logo">Created by</div>
        <p>Sophie Carr, Bryan Dalton, and Bernie Migo

        </p>
    </div>

    <div class="mdl-mini-footer__rightsection">
      <p><img src="/images/cutePotato.png" alt="cute potato" id="headerImg"> &nbsp; So bad, it's good! </p>
    </div>

  </footer>

  {{!-- currently unused, doesn't format well with user added content --}}