<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="utf-8">
    <meta name = "viewport" content "width=device-width, intial-scale=1.0">
    <title> RIPENED POTATOES </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<header>Ripened Potatoes</header>
<nav> 
    <ul>
        <li><a href="#login">LOG IN</a></li> <!--make togglable to log out button-->
        <li><a href="#profile">PROFILE</a></li>
        <li><a href="#films">FILMS</a></li>
        <li><a href="#post">MAKE POST</a></li>
    </ul>
</nav>
<main>
    {{{body}}}
    <p> taters </p>
</main>
<footer>By Sophie Carr, Bryan Dalton, and Bernie Migo</footer>
</body>
</html>