<!-- gallery with all movies (with tags) -->
<section class="filmspage">
    <!-- a href=""-->
    <div> <!--search bar--></div>

    <!--displays every movie through partial-->
    <section class="flex-row justify-center">
        <!--
            {{#each films.movie as |movie|}}
            {{> film-details}}
            {{/each}}
        -->
    </section>

</section>