<!-- section with homepage content (chart?) -->

<h1 style ="font-family: 'Lato', sans-serif;"> homepage ayyy </h1>

{{#each movies as |movie| }}
<h4><a href="/movie/{{movie.id}}">{{movie.title}}</h4></a><br>
<p>{{tag}}</p><br>
<p>{{movie.description}}</p>
{{/each}}