<!-- section with homepage content (chart?) -->
<section class ="homepage">
<h1> Welcome to Ripened Potatoes! </h1>


{{#each movies as |movie| }}
<h4 class="main-title">
    <a style="color: #bd8e5e; font-weight:bold" href="/movie/{{movie.id}}">{{movie.title}}</h4></a><br>
<p>TAGS: {{tag.tag_name}}</p>
<p> &#129364; &nbsp;{{movie.description}}</p>

{{/each}}
<br>
</section>

</section>