<!-- log in and sign up boxes -->
<div class="loginsection">
    <form>
    <div>
      <!--POTATO PIC?-->
      LOGIN
    </div>
  
    <div class="container">
      <label for="username"><b>Username</b></label><br>
      <input type="text" placeholder="Enter Username" name="username"><br>
  
      <label for="password"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="password"><br>
  
      <button type="submit">Login</button>
    </div>
    </form>
</div>

<div class="signupsection">
    <form>
    <div>
      <!--OTHER POTATO PIC?-->
      SIGN UP
    </div>
  
    <div class="container">
      <label for="username"><b>Username</b></label><br>
      <input type="text" placeholder="Enter Username" name="username"><br>
  
      <label for="password"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="password"><br>
  
      <button type="submit">Sign Up</button>
    </div>
    </form>
</div>