<!-- log in and sign up boxes -->
<section class="loginsection">
<div >
      <h2>Login</h2>
     <form class="login-form">
      <div class="container">
        <label for="email"><b>Email</b></label><br>
        <input type="text" placeholder="Enter Email" name="username" id="email-login"><br>
    
        <label for="password"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password" id="password-login"><br>
    
        <button type="submit">Login</button>
      </div>
    </form>
</div>

<div class="signupsection">
      <h2>Sign Up</h2>
    <form class="signup-form">
      <div class="container">
        <label for="username"><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="username" id="username-signup"><br>

        <label for="email"><b>Email</b></label><br>
        <input type="email" placeholder="Enter Email" name="email" id="email-signup"><br>
    
        <label for="password"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password" id="password-signup"><br>
    
        <button type="submit">Sign Up</button>
      </div>
    </form>
</div>
</section>

<script src="./js/login.js"></script>
