<!-- page for movie with its tags and reviews -->
<section>
    <h2 class="movie-title-line">{{!title}}Pulp Fiction</h2>
    <!--movie poster-->
    <p>{{!description}} A hitman reconsiders his life of crime after witnessing a miraculous occurrence.</p>

    <!--reviews: user_id, description, rating-->
    {{#each reviews as |review|}}
    <div>
        <p class="review-title-line">{{!review.title}} I love this movie! by {{!user.name}} tarentino-fan23</p>
        <p>{{!review.description}}Great film! Tarentino at his best!!!</p>
        <p></p>
    </div>
    {{/each}}
</section> 