<!-- profile: username, email, password, potato? -->
<section class="profilepage">

    <!-- a href=" "-->

    <div><!--POTATO PIC?--></div>

    <div>
    {{!-- Username: {{name}}
    Email: {{email}}
    Password: {{password}}--}}
    </div>

</section>