<!-- profile: username, email, password, potato? -->
<section class="profilepage">

    <!-- a href=" "-->

    <div><!--POTATO PIC?--></div>

    <div>
    Username: {{name}}<br>
    Email: {{email}}<br>
    Password: {{password}}<br>
    </div>

</section>