<!-- profile: username, email, password, potato? -->
<div class="profilepage">
    <div><h2>Welcome, {{name}}!</h2></div>

    <div>
        <h3>Start a new review thread:</h3>

        <form class="new-movie-form">
            <div>
                <label>Movie Title</label><br><br>
                <input type="text" id="movie-title" name="movie-title" placeholder="Movie Title">
            </div> <br>
            <div>
                <label>Movie Description</label><br><br>
                <textarea id="movie-description" name="movie-description" placeholder="Write your synopsis here..."></textarea>
            </div> <br>

            <div class="custom-select">
                <p>Add a tag</p>
                <select id="tag" name="rating">
                    <option value="1">Horror</option>
                    <option value="2">Drama</option>
                    <option value="3">Comedy</option>
                    <option value="4">So bad it's good!</option>
                </select>
            </div> <br>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#1d3f3f; color: #bd8e5e;">Post</button>
        </form>
    </div>

{{#if reviews.length}}
  <div class="review-list">
    <h3>My Reviews:</h3>

    {{#each reviews as |review|}}
    <div>
      <div>
        <h4><a href="/review/{{review.id}}">{{review.title}}</a></h4>
      </div>
      <div>
        <button data-id="{{review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="/js/movie.js"></script>