body {
    margin: 0;
    background-color:#817d6b;
    height: 90vh;
}

.loginsection button {
    background-color: #1d3f3f;
    color: black;
}

header a{
    text-decoration: none;
}

.homepage h1 {
    /* margin: 0;
    font-size: 2em; */
    font-family: 'Lato', sans-serif;
}

.loginsection h2 {
    font-family:'Lato', sans-serif;
}

header {
    width: 100vw;
    bottom:0;
    height: 5vh;
    font-family: 'Lato', sans-serif;
}

#headerImg {
    max-width: 50px;
    max-height: 50px;
}

input[type=text]{
    background-color: #bd8e5e;
    border-radius: 18px;
    border: 2px solid #bd8e5e;
    color: #1d3f3f;
    padding: 20px;
    width: 200px;
    height: 15px;
}
input[type=email]{
    background-color: #bd8e5e;
    border-radius: 18px;
    border: 2px solid #bd8e5e;
    color: #1d3f3f;
    padding: 20px;
    width: 200px;
    height: 15px;
}
input[type=password]{
    background-color: #bd8e5e;
    border-radius: 18px;
    border: 2px solid #bd8e5e;
    color: #1d3f3f;
    padding: 20px;
    width: 200px;
    height: 15px;
}
input[type=text]:focus{
    border: 3px solid black;
    outline: none;
}
input[type=email]:focus{
    border: 3px solid black;
    outline: none;
}
input[type=password]:focus{
    border: 3px solid black;
    outline: none;
}

footer {
    background-color:#504a3e;
    color: #bd8e5e;
    font-size: 20px;
    width: auto;
    bottom: 0;
    height: 10vh;
    padding-top: 20px;
    position: relative;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

nav a:hover {
    background-color: #1d3f3f;
    color: #bd8e5e;
}

film-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }
film-card-square > .mdl-card__title {
    color: bd8e5e;
    background-color: #1D3F3F;
  }

.loginsection {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: #504a3e;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


main {
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
}
