body {
    margin: 0;
    padding:0;
    background-color:#817d6b;
}
header {
    background-color: peachpuff;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
header a{
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header {
    width: 100vw;
    bottom:0;
    height: 5vh;
}

#headerImg {
    max-width: 50px;
    max-height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: peachpuff;
}

li a {
    display: block;
    color: white;
    text-align: center;
    float: right;
    padding: 14px 16px;
}

li a:hover {
    background-color: white;
    color: peachpuff;
}

footer {
    background-color:#504a3e;
    color: #bd8e5e;
    font-size: 30px;
    width: 100%;
    bottom: 0;
    height: 100px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

nav a:hover {
    background-color: #1d3f3f;
    color: #bd8e5e;
}

film-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }
film-card-square > .mdl-card__title {
    color: bd8e5e;
    background-color: #1D3F3F;
  }

.loginsection {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: #504a3e;
    text-align: center;
}